<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seu.sis.dao.mapper.SvtmMapper">

    <resultMap id="BaseResultMap" type="com.seu.sis.dao.domain.Svtm">
            <result property="tagname" column="Tagname" />
            <result property="value" column="Value" />
    </resultMap>

    <sql id="Base_Column_List">
        Tagname,Value
    </sql>
</mapper>
